.text {
  background-color: #fe4f52;
  width: 300px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  color: aliceblue;
  margin: 40px;
}
.box_img {
  border: solid #262d33;
  background-color: #262d33;
  width: 300px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  color: aliceblue;
  margin: 40px;
}
.title {
  border: solid #3cc27d;
  background-color: #3cc27d;
  width: 300px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  color: aliceblue;
  margin: 40px;
}
.hon {
  border: solid #3f62aa;
  background-color: #3f62aa;
  width: 300px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  color: aliceblue;
  margin: 40px;
}
.twitter {
  border: solid #4cb8fb;
  background-color: #4cb8fb;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  color: beige;
  margin: 40px;
}
.don {
  border: solid #6d75e7;
  background-color: #6d75e7;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  color: beige;
  margin: 40px;
}
.jobs {
  border: solid #22282e;
  background-color: #22282e;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  color: beige;
  margin: 40px;
  text-align: center;
}
.arthur {
  border: solid #ff4f52;
  background-color: #ff4f52;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  color: beige;
  margin: 40px;
}
.abraham {
  border: solid #4267b2;
  background-color: #4267b2;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  color: beige;
  margin: 40px;
  text-align: center;
}
.block{
  display: flex;
  flex-wrap: wrap;
}
